*{
  height: 100%;
}
body{
  height: 100%;
  overflow: auto;
  margin: 0;
  padding: 0;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.pipeline{
  display:block;
  flex-direction: column;
  /* position: relative; */
  position: absolute;
  text-align: center;
  width: 100%;
}
#both{
  /* display: flex; */
  /* position: relative; */
  position: absolute;
  top: 0%;
  height: fit-content; 
  max-height: 100%;
  margin-bottom: 20px;
}
h3{
  margin: 0;
  z-index: 100;
}
#cam, #pers{
  flex: 1;
}
#pers{
  /* position: relative;  */
  position: absolute;
  width: 100%;
  height: 37%;
  /* height: fit-content; */
  border-top: 4px double rgb(56, 162, 100);
  top: 40%;;
  left: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0;
}
#cam{
  /* position: relative; */
  position: absolute;
  width: 100%;
  height: 34%;
  border-top: 4px double rgb(56, 162, 100);
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 10px;
  top: 80%;
}
.slideContainer{
  display: flex;
  flex-direction: row;
  margin-left: 10px;
}
.slidecontainer{
  width: 20%;
}



#dot-mapping{
  width:fit-content;
  max-width: 60%;
  position: relative;
  align-items:left;
  display: inline-flex;
  height: auto;
  width: 900px;
  top: -80%;
  right: 23%;
  padding:0;
  font-size: 15px;
  z-index: 3;
}
.pers-dot-mapping{
  margin-right: -10%;
}
.cam-dot-mapping{
  margin-right: -10%
}
#matrices-2d{
  width:fit-content;
  max-width: 50%;
  /* position: relative; */
  position: relative;
  align-items:left;
  display: inline-flex;
  height: auto;
  width: 900px;
  /* height: 35%; */
  /* margin-top: -23%; */
  /* margin-top:10px;
  margin-bottom: 10%; */
  /* margin-left: 10px; */
  /* top: -300px;
  left: -200px; */
  top: -85%;
  right: 10%;
  padding:0;
  font-size: 15px;
  z-index: 3;
  /* align-items: flex-start */
  /* overflow: auto; */
}
.pers-matrix-equation{
  margin-right: 27%
}
.cam-matrix-equation{
  margin-right: 26.5%;
}
.matrix-equation>span {
  position:relative;
  /* top:1rem; */
  top: 4rem;
  /* margin: 10px */
}
.map-span{
  position: absolute;
  top: 10px;
}
.drop-z{
  position: relative;
  top: 3rem;
}
.rotation-matrix-wrapper{
  position: relative;
  margin-left: 0;
}
.matrix {
text-align: center;
display:inline-grid;
float: left;
grid-template-areas:"a a a" "b c d";
grid-template-columns:1ch auto 1ch;
gap:2ch .75ch
}

.matrix:before,
.matrix:after {
content:"";
font-size:.5rem;
border:1px solid #000000
}
.matrix:before {
border-right:none
}
.matrix:after {
border-left:none
}
.matrix-label {
  grid-area:a;
  font-size:.75rem;
  font-weight:325;
  color:#000000; 
  padding: 0;
  margin-bottom: 0;
 }
.matrix-elements {
  margin-top: 0px;
  padding:.75ch .75ch;
  display:grid;
  place-items:left;
  grid-auto-flow:column;
  gap:.5ch 3ch
}
.canvas{
  width: 30%;
  max-height: 100%;
  float: right;
  position: absolute;
  margin-top: 0;
  margin-left: 59%;
  padding: 0;
  display:block;
  top: 21.5%;
  right: 1%;;
}
.cam-canvas, .pers-canvas{
  margin-top: -10%;
  display: block;
  float: right;
  height: fit-content;
  max-height: 100%;
  max-width: 100%;
  width: fit-content;
  overflow: clip;
  position: sticky;
  border: 3px solid blue;
  z-index: 1;
}
.arrow{
  font-size: 20px;
  font-weight: 625;
  color:brown;
}
.input-points{
  width: 450px;
}
input[type=text], button{
  font-size: 0.8em;
  width: 60px;
  margin: 8px;
}
input[type=button]{
  margin: 10px;
  cursor: pointer;
  font-size: 1.0em;
}
h5{
  color: blue;
}